body {
    background-color: #f2f2f2;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    /* Adjust the last value for opacity */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 50px;
}

.header {
    background-color: rgba(6, 62, 15, 0.8);
    /* Adjust the last value for opacity */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 50px;
}

header h1 {
    font-size: 24px;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 34%;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #061d02;
    text-decoration: none;
}

.img {
    height: auto;
    width: auto;
    size: 20%;
    opacity: 0.5;
    margin-left: 20%;
    background-attachment: fixed;
}

main {
    padding: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.product {
    display: flex;
    height: 250px;
}

.colc {
    position: relative;
    background-color: #fff;
    padding: 70px;
    margin: 0;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 33.33%;
}

.cola {
    position: relative;
    background-color: #fff;
    padding: 10px;
    width: auto;
    margin: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 33.33%;
}

.colb {
    position: relative;
    background-color: #fff;
    padding: 20px;
    margin: 0;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 33.33%;
}


/*.col {
    position: relative;
    background-color: #fff;
    margin: 0;
    width: justify;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 33.33%;
}*/

.product.glow {
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #f4d03f;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product:hover .glow {
    opacity: 1;
}

.product img {
    width: 250px;
    height: 200px;
    object-fit: justify;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.price {
    font-size: 18px;
    color: #333;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.description {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


/* Responsive styles */

@media (max-width: 600px) {
    header h1 {
        font-size: 20px;
    }
    nav ul li {
        margin: 0 5px;
    }
    .product img {
        max-height: 150px;
    }
    .product h3 {
        font-size: 18px;
    }
    .price {
        font-size: 16px;
    }
}

.heading {
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to left, rgb(1, 43, 19), rgb(3, 57, 3), rgb(5, 92, 18), rgb(8, 123, 54), rgb(11, 184, 23), rgb(5, 92, 18), rgb(8, 123, 54), rgb(1, 43, 19), rgb(3, 57, 3));
    -webkit-background-clip: text;
    color: transparent;
}